.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #FAF7F2;
  color: #2B2A28;
  border-bottom: 1px solid #D6D1C5;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  padding: 12px 38px;
}
.navbrand img{
  width: 200px;
  height: auto;
  display: block;
}
.navbrand a{
  text-decoration: none;
  font-size: 34px;
  color: #2B2A28;
}
.navlinks{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 19px;
  font-weight: 500;
  list-style-type: none;
}
.navlinks a{
  color: #2B2A28;
  text-decoration: none;
  transition: 0.3s ease-out;
}
.navlinks a:hover {
  color: #fff;
  padding: 5px;
  background-color: #C86A34;
  border-radius: 12px;
  transform: translateY(-4px);
}
.showroom-btn{
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: #C86A34;
  color: #fff;
  font-weight: 500;
  padding: 0 14px;
  border-radius: 8px;
  transition: 0.3s;
}
.showroom-btn:hover{
  background-color: #A94F22;
  box-shadow: 0 1px 15px #C86A34;
}
h1{
  text-align: center;
}